<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href = {{ url_for('static', filename='css/styles.css') }}>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Index</a></li>
                <li><a href="{{ url_for('characters') }}">Characters</a></li>
                <li><a href="{{ url_for('campaigns') }}">Campaigns</a></li>
                <li><a href="{{ url_for('items') }}">Items</a></li>
            </ul>
        </nav>

        {% block headline %}
        {% endblock %}

        {% block image%}
        {% endblock%}

        {% block enchantments%}
        {% endblock %}

        <h2>History:</h2>
        {% block history %}
        {% endblock %}

        <td><button onclick="window.location.href='{{ url_for('items') }}';" class = "returnlink">&lArr; Return to Items</button></td>
    </body>
</html>