{% extends "item_template.html" %}

{% block title %}Resonance{% endblock %}

{% block headline %}
<h1 class = "itemname"> Resonance +1 </h1>
<p class = "itemtype">(Shortsword)</p>
{% endblock %}

{% block enchantments %}
<p><b>+1: </b>Attacks made with this weapon are made with a bonus of +1 to hit and damage.</p>
<p><b>Heighten +1: </b>Spells cast while wielding this weapon have their save DCs increased by 1. </p>
{% endblock %}

{% block history %}
<p>This ornate blade was given to the bard Milo by the Vistani Mynha after his successful escape from the shadowfell. During his subsequent adventures as Kaelin Highhill he had the blade enchanted to increase his spellcasting capabilities.</p>
{% endblock %}